################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/milestone01/Marking Rubric – IPC144 Project.pdf
/milestone01/MS1.VC.db
/milestone01/Milestone Rubric.pdf
/milestone01/MS1.VC.db
/milestone01/MS1.vcxproj
/milestone01/MS1.vcxproj.filters
/milestone01/README.md
/milestone01/.vs/MS1/v15/Browse.VC.opendb
/milestone01/.vs/MS1/v15/Browse.VC.db
